[Desktop Entry]
Terminal=false
TryExec=lxqt-clip
Exec=lxqt-clip
Icon=lxqt-clip
Type=Application
Categories=Qt;Utility;
StartupNotify=false
Name=lxqt-clip
GenericName=Clipboard Tool
Comment=Clipboard history tool

# Translations
GenericName[ar]=أداة الحافظة
GenericName[bg]=Инструмент за клипборд
GenericName[ca]=Eina de porta-retalls
GenericName[cs]=Nástroj pro schránku
GenericName[da]=Udklipsholderværktøj
GenericName[de]=Zwischenablage
GenericName[el]=Εργαλείο πρόχειρου
GenericName[es]=Herramienta del portapapeles
GenericName[et]=Lõikelaudade tööriist
GenericName[fa]=ابزار کلیپ‌بورد
GenericName[fr]=Presse-papiers
GenericName[he]=כלי לוח גזירים
GenericName[hi]=क्लिपबोर्ड उपकरण
GenericName[hr]=Alat za međuspremnik
GenericName[hu]=Vágólap eszköz
GenericName[it]=Strumento per gestire gli appunti
GenericName[ja]=クリップボード ツール
GenericName[ko]=클립보드 도구
GenericName[lt]=Iškarpinės įrankis
GenericName[nb_NO]=Utklippstavleverktøy
GenericName[nl]=Klembordhulpmiddel
GenericName[oc]=Aisina de quichapapièr
GenericName[pl]=Narzędzie schowka
GenericName[pt]=Ferramenta da área de transferência
GenericName[ru]=Инструмент буфера обмена
GenericName[si]=ක්ලිප්බෝඩ් මෙවලම
GenericName[sk]=Nástroj schránky
GenericName[sr]=Алатка за клипборд
GenericName[sr@ijekavian]=Алатка за клипборд
GenericName[sr@ijekavianlatin]=Alatka za klipbord
GenericName[sr@latin]=Alatka za klipbord
GenericName[sv]=Urklippshanterare
GenericName[uk]=Інструмент буфера обміну
GenericName[zh_CN]=剪贴板工具

Comment[ar]=أداة تاريخ الحافظة
Comment[bg]=Инструмент за история на клипборда
Comment[ca]=Eina de l'historial del porta-retalls
Comment[cs]=Nástroj pro historii schránky
Comment[da]=Historikværktøj for udklipsholder
Comment[de]=Anwendung zur Handhabung der Zwischenablage
Comment[el]=Εργαλείο ιστορικού πρόχειρου
Comment[es]=Herramienta de historial del portapapeles
Comment[et]=Lõikelaudade ajaloo tööriist
Comment[fa]=ابزار تاریخچه کلیپ‌بورد
Comment[fr]=Un outil d'historique du presse-papiers
Comment[he]=כלי היסטוריית לוח גזירים
Comment[hi]=क्लिपबोर्ड इतिहास उपकरण
Comment[hr]=Alat za povijest međuspremnika
Comment[hu]=Vágólap előzmény eszköz
Comment[it]=Strumento per la cronologia degli appunti
Comment[ja]=クリップボード履歴のツールです
Comment[ko]=클립보드 기록 도구
Comment[lt]=Iškarpinės istorijos įrankis
Comment[nb_NO]=Verktøy for utklippstavlehistorikk
Comment[nl]=Klembordgeschiedenishulpmiddel
Comment[oc]=Aisina d'istoric del quichapapièr
Comment[pl]=Narzędzie historii schowka
Comment[pt]=Ferramenta de histórico da área de transferência
Comment[ru]=Инструмент истории буфера обмена
Comment[si]=ක්ලිප්බෝඩ් ඉතිහාස මෙවලම
Comment[sk]=Nástroj histórie schránky
Comment[sr]=Алатка за историјат исецања и налепљивања
Comment[sr@ijekavian]=Алатка за историјат исецања и налепљивања
Comment[sr@ijekavianlatin]=Alatka za istorijat isecanja i nalepljivanja
Comment[sr@latin]=Alatka za istorijat isecanja i nalepljivanja
Comment[sv]=Historikverktyg urklipp
Comment[uk]=Інструмент історії буфера обміну
Comment[zh_CN]=剪贴板历史工具
